streamlit
sentence-transformers
requests
openai
pandas
python-dotenv
markdown
bleach
icalendar
PyYAML
Pillow
google-cloud-vision
playwright
beautifulsoup4
sqlalchemy
pdfplumber
langchain
langchain
langchain-community
langchain-groq
langchain-core
